<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Competency Matrix</h1>
      <p class="lead">Track your competencies so you can improve them!</p>
    </div>
  </div>
</div>
